.intro {
    background: url("../img/intro/intro.jpg") center no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 800px;
}

.intro__inner {
    text-align: center;
    padding-top: 400px;
    text-transform: uppercase;
    color: #fff;
}

.intro__title {
    font-size: 40px;
    font-weight: 300;
}

.intro__subtitle {
    padding: 50px 0;

    font-size: 75px;
}

.intro__button {
    outline: none;
    background: transparent;
    border: none;

    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #484543;

    background: #fed136;

    padding: 25px 52px;

    transition: all 0.3s linear;
}

.intro__button:hover {
    cursor: pointer;

    background: #484543;
    color: #fed136;
}

// POP UP 

.intro__window-modal {
    display: none;

    background: #fff;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    transform: translateY(-700px);

    border-radius: 20px;

    animation: drop 0.7s ease forwards;
    @keyframes drop {
        0% {
        }
        70% {
            transform: translateY(200px);
        }
        100% {
            transform: translateY(-450px);
        }
    }
}

.window-modal__content {
    position: relative;
}

.window-modal__title {
    padding: 30px 0;

    color: #484543;
    text-transform: none;
    font-size: 50px;
}

.window-modal__site-information {
    color: #484543;
    text-transform: none;
    font-size: 40px;

    text-align: left;
    padding: 0 60px;
}

.window-close {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 1;

    font-size: 50px;
    color: #484543;
}

