//================== Media ======================//
@media (max-width: 1190px) {
    .about-us__content {
        display: flex;
        flex-direction: column;
    }
    .about-us__item {
        width: 250px;
        text-align: center;
    }
    .about-us__description {
        position: relative;
        top: 20px;
        right: 275px;
        z-index: 1;

        width: 800px;

        text-align: center;
    }
    .about-us__date {
        color: #222222;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .about-us__title {
        color: #222222;
        font-size: 15px;
        font-weight: 700;
    }
    .about-us__text {
        color: #777777;
    }

    .about-us__description--left {
        left: -280px;
    }

    .about-us__item--bot {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .about-us__content {
        display: flex;
        flex-direction: column;
    }
    .about-us__item {
        width: 250px;
    }
    .about-us__description {
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;

        width: 280px;

        text-align: center;

        margin-left: -15px;
    }
    .about-us__date {
        color: #222222;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .about-us__title {
        color: #222222;
        font-size: 15px;
        font-weight: 700;
    }
    .about-us__text {
        color: #777777;
    }

    .about-us__description--left {
        left: 0;
        text-align: center;
    }

    .about-us__item--bot {
        margin-bottom: 0;
    }
}
